[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xmltodict = "==0.12.0"
requests = "==2.22.0"

[dev-packages]
black = "*"
ansible = "*"
pytest = "*"
isort = "*"
coverage = "==4.5.4"
flake8 = "*"
pytest-xdist = "*"
pytest-mock = "*"
pylint = "*"
voluptuous = "*"
importlib-metadata = "*"
dataclasses = "*"
yamllint = "*"
six = "*"
ansible-lint = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
