<email>
  <entry name="Sample_Email_Profile">
    <server>
      <entry name="Sample_Email_Profile">
        <display-name>Threat_Alerts</display-name>
        <gateway>{{ email_profile_gateway }}</gateway>
        <from>{{ email_profile_from }}</from>
        <to>{{ email_profile_to }}</to>
        <protocol>SMTP</protocol>
      </entry>
    </server>
  </entry>
</email>